@import 'variables.less';
@import 'mixins.less';

.main-header {
  padding: 50px;
  line-height: 40px;
  .notes {
    padding: 0 50px;
    height: 40px;
    color: @red;
  }
  .search {
    padding: 0 50px;
    height: 40px;
  }
  .logo {
    text-align: center;
    height: 40px;
    a {
      color: @red;
      font-size: 24px;
    }
  }
  .login {
    text-align: center;
    height: 40px;
    a {
      color: @red;
      font-size: 24px;
    }
  }
  .user {
    text-align: center;
    height: 40px;
    a {
      color: @red;
      &:hover {
        text-decoration: none;
      }
    }
    .user-dropdown {
      margin-top: 20px;
    }
  }
}

.main-footer {
  text-align: center;
  color: @red;
}

.login-form {
  padding-top: 100px;
  padding-bottom: 250px;
  h1 {
    color: @red;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 20px;
  }
  .form-control {
    border-color: @red;
    &:focus {
      box-shadow: none !important;
    }
  }
  .input-group-text {
    border-color: @red;
    i {
      color: @red;
    }
  }
}
