.input-outline-red {
  background: transparent;
  border: @red 1px solid !important;
  border-radius: 0.25rem;
  &:focus {
    box-shadow: none !important;
  }
}

.btn-outline-red {
  background: transparent;
  border: @red 1px solid !important;
  border-radius: 0.25rem;
  i {
    color: @red;
  }
  &:hover {
    background: @red;
    transition-duration: 0.15s;
    i {
      color: #fff;
    }
  }
  &:focus {
    box-shadow: none !important;
  }
}

.btn-red {
  background: @red;
  color: #fff;
  width: 100%;
  &:hover {
    background: @red;
  }
  &:focus {
    box-shadow: none !important;
  }
}

.center {
  text-align: center;
}
